<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/home.css">
    <title>Document</title>
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/create">Create User</a>
        <a href="/list">ListUsers</a>
    </div>
    <div class="formWrapper">
        <form action="/users" id="userForm" method="post">
            <fieldset>
                <legend>Add new:</legend>
                <label for="id">Id:</label>
                <input type="text" id="fname" name="id"><br><br>
                <label for="lname">Email:</label>
                <input type="email" id="email" name="email"><br><br>
                <label for="name">Name:</label>
                <input type="input" id="name" name="name"><br><br>
                <label for="city">City:</label>
                <input type="input" id="city" name="city"><br><br>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>

</body>

</html>