<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/sample.css">
    <title>Document</title>
</head>

<body>
    <h1>Xin chao thế giới222222222222</h1>
    <img class="" src="images/1045.jpg">
    <butto onclick="insert">asda</butto>
    <script src="/src/server.js"></script>
</body>

</html>